@model Tarea.Model.ViewModels.EspecieViewModel

@{
    Layout = "Layout";
}


        <div class="especieficha1">
            <img src="~/especies/@(Model.Id).jpg" />
            <div>
                <h1>@Model.Nombre</h1>
                <p><label>Clase:</label><a href="~/Home/especies/@Model.Clase">Mamíferos</a></p>
                <p><label>Peso:</label>@Model.Peso.ToString("0.00")</p>
                <p><label>Tamaño:</label>@Model.Tamaño</p>
                <p><label>Habitat:</label>@Model.Habitad</p>
                <p><label>Descripción:</label></p>
                <p>@Model.Observacion</p>
            </div>

            <a href="~/Home/especies">Regresar</a>
        </div>
    
  


